/**
 * Styles for rendering of pages with the Campaign content model.
 */

/* This is like .ns-460.action-view, but without the unofficial
   link between content and namespace. The content model is
   a page-specific property. */
.mwe-upwiz-campaign-page #firstHeading {
	display: none;
}

#mw-campaign-primary-info {
	float: left;
	width: 60%; /* Not ideal, but hey, I'm writing CSS! */
}

#mw-campaign-no-uploads-yet {
	padding: 24px;
	text-align: center;
}

#mw-campaign-title {
	font-size: 24px;
	border-bottom: 1px solid #c8ccd1;
}

#mw-campaign-description {
	margin-bottom: 24px;
}

#mw-campaign-header {
	background-color: #f8f9fa;
	overflow: hidden;
	padding: 24px;
	margin: 12px;
	border: 1px solid #c8ccd1;
}

#mw-campaign-numbers {
	float: right;
}

.mw-campaign-number-container {
	text-align: center;
	float: left;
	margin-right: 24px;
}

.mw-campaign-number {
	font-size: 96px;
	line-height: 96px;
	font-weight: lighter;
}

.mw-campaign-number-desc {
	text-transform: uppercase;
	letter-spacing: 1px;
}

#mw-campaign-view-all {
	background-color: #f8f9fa;
	display: block;
	border: 1px solid #c8ccd1;
	padding: 8px;
	text-align: center;
}

#mw-campaign-view-all:hover {
	text-decoration: none;
}

.mw-campaign-chevron {
	background: url( ../images/down-chevron.png ) no-repeat center;
	width: 16px;
}

.mw-campaign-float-left {
	float: left;
}

.mw-campaign-float-right {
	float: right;
}
