/* for feedback request message */
#contentSub {
	margin-left: 0;
	color: #666666;
	font-size: 90%;
}

#contentSubUpwiz {
	margin-right: 0.5em;
}

form.mwe-upwiz-form {
	display: inline;
}

#upload-wizard {
	margin-top: 18px;
	min-width: 750px; /* width of tutorial.png plus padding */
	max-width: 900px; /* wild guess */
}

#mwe-upwiz-steps {
	background-color: white;
	background-image: none;
	border: none;
}

#mwe-upwiz-steps li {
	color: #666666;
	font-size: 1.2em;
	margin-right: -1px;
	border-top: solid 1px #a7d7f9;
	border-bottom: solid 1px #a7d7f9;
}

#mwe-upwiz-step-tutorial {
	border-left: solid 1px #a7d7f9;
}

#mwe-upwiz-step-thanks {
	border-right: solid 1px #a7d7f9;
}

#mwe-upwiz-steps li.head {
	color: #000000;
}

.mwe-upwiz-clearing {
	clear: left;
	width: 100%;
}

#mwe-upwiz-content {
	padding: 1em;
}

.mwe-upwiz-add-files-0, #mwe-upwiz-files {
	margin-top: 3em;
	margin-bottom: 1em;
}

.mwe-upwiz-add-files-0 {
	text-align: center;
}

.mwe-upwiz-add-files-0 #mwe-upwiz-add-file {
	font-size: large;
}

/* NOT a pseudoclass */
#mwe-upwiz-add-file.hover {
	text-decoration: underline;
}

/* perhaps a general class for links that are actually "buttons" */
#mwe-upwiz-add-file, .mwe-upwiz-more-options {
	outline: none;
	cursor: pointer;
}

/* CSS styling hack for file inputs - http://www.quirksmode.org/dom/inputfile.html */
.mwe-upwiz-file-ctrl-container {
	position: absolute;
	overflow: hidden;
}

.mwe-upwiz-file-input, .mwe-upwiz-visible-file {
	cursor: pointer;
}

#mwe-upwiz-stepdiv-file .mwe-upwiz-visible-file {
	cursor: auto !important;
}

/* file inputs are freakishly large to overflow the containing div -- we get a div
   that can act as a more styleable single-click file input */
.mwe-upwiz-file-input, .disabler {
	font-size: 100px;
	width: 100%;
	-moz-opacity: 0.3;
	filter:alpha(opacity = 0);
	opacity: 0;
	z-index: 2;
}

.mwe-upwiz-file.filled {
	position: relative;
}

.mwe-upwiz-file.odd .mwe-upwiz-visible-file {
	background: #f5f5f5;
}

.mwe-upwiz-visible-file .mwe-upwiz-remove-ctrl .mwe-upwiz-show-thumb-ctrl {
	visibility: visible;
}

.mwe-upwiz-file-indicator, .mwe-upwiz-count {
	float: right;
	margin-left: 0.5em;
	padding: 0.5em;
}

.mwe-upwiz-visible-file .mwe-upwiz-file-indicator {
	visibility: hidden;
}

.mwe-upwiz-visible-file {
	display: none;
	position:relative;
	z-index:2;
}

.mwe-upwiz-file.filled .mwe-upwiz-visible-file {
	display: block;
}

.mwe-upwiz-visible-file-filename {
	padding: 0.5em;
	margin-right: 40px;
	overflow: hidden;
}

.mwe-upwiz-icon {
	float: left;
}

.mwe-upwiz-filled-filelist {
	border: 1px solid #d8d8d8;
}

.mwe-upwiz-visible-file-filename-text {
	white-space: nowrap;
}

.mwe-upwiz-file-status {
	display: none;
	color: #797979;
}

.mwe-upwiz-progress-bar {
	border: 1px solid #aed0ea;
}

.mwe-upwiz-progress-bar .ui-progressbar-value {
	background: #dfeffa; /* matches the highlighted arrow */
}

.mwe-upwiz-file-preview {
	float: left;
	height: 100px;
	width: 100px;
	padding: 0.5em;
	border: 1px solid #e0e0e0;
	margin-right: 1em;
	text-align: center;
	/* @embed */
	background: url('images/32px-Blank-document.svg.png') no-repeat center center;
}

.mwe-upwiz-file-preview-broken {
	height: 60px !important;
	width: 60px !important;
	/* @embed */
	background: url('images/32px-Blank-document-broken.svg.png') no-repeat center center !important;
}

.mwe-upwiz-add-files-n {
	float: left;
}

#mwe-upwiz-add-file-container.mwe-upwiz-add-files-n, .mwe-upwiz-progress-bar-etr {
	width: 300px;
}

/* Flickr Interface CSS*/

.ui-helper-center-fix {
	display: inline-block;
	position: relative;
}

#mwe-upwiz-upload-ctr-divide {
	display: block;
	font-size: 1.3em;
}

#mwe-upwiz-flickr-input {
	font-size: 1.2em;
	width: 250px;
	padding: 4px;
}

#mwe-upwiz-upload-add-flickr-container {
	text-align: center;
}

#mwe-upwiz-flickr-select-list-container {
	width: 580px; /* based on values in #mwe-upwiz-flickrSelectlist li */
	margin: 0 auto;
	display: none;
	text-align: center;
}
#mwe-upwiz-flickr-select-list {
	list-style: none;
	clear: both;
	overflow: hidden;
	margin-bottom: 1em;
}

#mwe-upwiz-flickr-select-list .ui-selecting {
	background: #FECA40;
}

#mwe-upwiz-flickr-select-list .ui-selected {
	background: green;
}

#mwe-upwiz-flickr-select-list li {
	margin: 6px;
	padding: 1px;
	float: left;
	display: block;
	width: 100px;
	height: 100px;
	background: none;
}

#mwe-upwiz-flickr-disclaimer {
	font-size: 92%;
	margin: 1em 0;
	padding: 0.5em;
	background-color: #DFEFFA;
}

#mwe-upwiz-flickr-select-list li img {
	margin: 12.5px;
	display: block;
	position: relative;
}

.mwe-upwiz-visible-file {
	width: 100%; /* of containing mwe-upwiz-file */
	overflow: hidden;
}

.mwe-upwiz-file.hover .mwe-upwiz-visible-file {
	background: #e0f0ff !important;
}

.mwe-upwiz-file.hover .mwe-upwiz-remove-ctrl .mwe-upwiz-show-thumb-ctrl {
	visibility: visible;
}

/* XXX we probably have a standard for this */
.helper {
	color: #cccccc; /* or whatever we do for greyed out text */
	font-style: italic;
	text-align: center;
}


#mwe-upwiz-files {
	margin-right: 8em;
	margin-left: 8em;
}

.filled + .filled {
	border-top: 1px solid #d8d8d8;
}

#mwe-upwiz-upload-ctrls {
	margin-top: 1em;
}

#mwe-upwiz-upload-ctrls button, .mwe-upwiz-buttons button {
	font-size: 1em;
}

#mwe-upwiz-stepdiv-file .mwe-upwiz-buttons {
	display: none;
}

#mwe-upwiz-stepdiv-file .mwe-upwiz-buttons .mwe-upwiz-file-endchoice {
	display: none;
}

.mwe-upwiz-details-descriptions .mwe-upwiz-remove-ctrl {
	vertical-align: top;
	display: inline-block;
}

a:disabled {
	color: #999999;
	text-decoration: none;
	cursor: default;
}

a:disabled:hover {
	text-decoration: none;
}

.mwe-upwiz-file-indicator {
	height: 40px;
	width: 40px;
}

.mwe-upwiz-status-progress {
	/* @embed */
	background: url('images/24px-spinner-0645ad.gif') no-repeat center center;
}

.mwe-upwiz-file.hover .mwe-upwiz-status-progress {
	/* @embed */
	background: url('images/24px-spinner-0645ad-e0f0ff.gif') no-repeat center center;
}

.mwe-upwiz-file.odd .mwe-upwiz-status-progress {
	/* @embed */
	background: url('images/24px-spinner-0645ad-f5f5f5.gif') no-repeat center center;
}
.mwe-upwiz-status-stashed, .mwe-upwiz-status-uploaded {
	/* @embed */
	background: url('images/32px-check.png') no-repeat center center;
}


.mwe-upwiz-license-icon {
	height: 18px;
	margin-left: 6px;
	padding: 9px;
	width: 18px;
}

.mwe-upwiz-cc-zero-icon {
	/* @embed */
	background: url('images/18px-Cc-zero.svg.png') no-repeat center center;
}

.mwe-upwiz-cc-sa-icon {
	/* @embed */
	background: url('images/18px-Share_Alike.svg.png') no-repeat center center;
}

.mwe-upwiz-cc-by-icon {
	/* @embed */
	background: url('images/18px-Cc-by_new_white.svg.png') no-repeat center center;
}

.mwe-upwiz-status-error {
	/* @embed */
	background: url('images/32px-alert.png') no-repeat center center;
	font-weight: bold;
	color: #CC0000;
}

.mwe-upwiz-progress {
	margin-top: 15px;
}

.mwe-upwiz-progress-bar-etr {
	float: left;
}

.mwe-upwiz-etr {
	text-align: center;
}


.mwe-upwiz-upload-warning {
	background: #ffffe0;
}

.mwe-upwiz-details-error {
	display: none;
	background: #ffffe0;
}

.mwe-upwiz-thumbnail {
	border: 1px solid #cccccc;
	text-align: center;
	background: #ffffff;
	width: 100px;
	height: 100px;
	padding: 8px;
}

.mwe-upwiz-thumbnail-side {
	float: left;
	margin-bottom: 1em;
	margin-right: 1em;
	width: 116px; /* see .mwe-upwiz-thumbnail, 100 + 8 + 8 */
}

#mwe-upwiz-deeds-thumbnails {
	text-align: center;
	margin: 1em 0;
	background: #f0f0f0;
}

#mwe-upwiz-deeds-thumbnails .mwe-upwiz-thumbnail {
	display: inline-block;
	margin: 1em;
	vertical-align: middle;
}

/* I don't like that this has to have width, to ensure that all the floats work out correctly.*/
.mwe-upwiz-data {
	float: left;
	width: 46em;
	margin-bottom: 1em;
	padding-right: 1em; /* fix for 100% width textareas in mwe-upwiz-data */
}


.mwe-upwiz-stepdiv {
	position: relative;
}


#mwe-upwiz-tutorial {
	text-align: center;
}


.shim {
	float:right;
	width: 1px;
}

.clearShim {
	clear: both;
	height: 1px;
	overflow: hidden;
}

.mwe-checkbox-hang-indent {
	float: left;
	width: 24px;
	margin-top: 6px;
}

.mwe-checkbox-hang-indent-text {
	margin-left: 24px;
}

.mwe-small-print {
	font-size: x-small;
}

.mwe-upwiz-deed {
	margin-left: 24px;
}

.mwe-upwiz-deed.selected .mwe-upwiz-deed-name {
	font-weight: bold;
}

.mwe-more-options, .mwe-upwiz-macro-deeds-return, .mwe-upwiz-deed-header-link {
	cursor: pointer;
}

.mwe-upwiz-deed-license {
	margin-left: 1.5em;
}

#mwe-upwiz-macro-deeds {
	margin-top: 12px;
	margin-bottom: 24px;
}

.mwe-upwiz-info-file {
	padding: 1em;
}

.mwe-upwiz-details-fieldname {
	padding-top:  0.3em;
}


.mwe-upwiz-desc-lang-select {
	width: 11.5em;
	font-family: sans-serif;
	font-size: small;
}

.mwe-upwiz-desc-lang-text {
	width: 31.5em;
	margin-left: 0.5em;
	overflow: hidden;
	font-family: sans-serif; /* XXX is this right? */
	font-size: small;
}

.mwe-upwiz-details-descriptions-add {
	margin-left: 0;
}

.mwe-upwiz-details-descriptions-add {
	margin-bottom: 1em;
}

.mwe-grow-textarea, .mwe-long-textarea {
	overflow: hidden;
	font-family: sans-serif;
	font-size: small;
}


.mwe-title {
	font-family: sans-serif;
	font-size: small;
	width: 100%;
}

.mwe-upwiz-details-fieldname-input {
	margin-bottom: 1em;
}

.mwe-upwiz-details-filename {
	overflow: hidden;
	width: 350px;
}

fieldset.mwe-fieldset {
	border: 1px solid #cccccc;
	padding-left: 12px;
	padding-right: 12px;
}

legend.mwe-legend {
	padding: 0.5em 0.5em 0.5em 0.33em;
	color: #666666;
}

.mwe-upwiz-thirdparty-fields {
	margin-bottom: .5em;
}

.mwe-upwiz-thirdparty-fields label {
	width: 9em;
	display: inline-block;
	padding-bottom: .5em;
}

.mwe-upwiz-thirdparty-fields textarea {
	margin: 0;
}

.mwe-upwiz-thirdparty-license {
	margin-top: 8px;
}

.mwe-upwiz-deed-form-internal {
	padding: 0.5em 0 1.5em 3em;
}


label.mwe-upwiz-copyright-info {
	display: inline-block;
	padding-left: 3px;
	text-indent: 0;
	margin-right: 15px;
	padding-top: 2px;
	width: 93%;
}

/* the hanging indent checkboxes */
.mwe-upwiz-copyright-info input.mwe-accept-deed {
	width: 13px;
	height: 13px;
	padding: 0;
	margin: 0 3px 0 0;
	vertical-align: bottom;
	position: relative;
	top: -1px;
}


.mwe-upwiz-custom-deed {
	margin-top: 5px;
}

.mwe-upwiz-buttons {
	margin-top: 1em;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
	text-align: right;  /* works for now, only one 'next' button */
}

a.mwe-upwiz-tooltip-link {
	cursor: pointer;
}

.mwe-error, .mwe-validator-error {
	color: #ff0000;
}

.mwe-upwiz-deed-thirdparty .mwe-upwiz-deed-form-internal label.mwe-error,
.mwe-upwiz-deed-thirdparty .mwe-upwiz-deed-form-internal label.mwe-validator-error {
	margin-left: 0;
}

/* XXX fix this later -- we get non-rounded corners somehow */
input[type='text'].mwe-error, textarea.mwe-error,
input[type='text'].mwe-validator-error, textarea.mwe-validator-error {
	color: black;
	border-color: #ff0000;
}

input[type='radio'].mwe-upwiz-copyright-info-radio
{
	vertical-align: top;
}

.mwe-upwiz-toggler {
	margin-bottom: 0;
	padding-left: 1.5em;
	/* @embed */
	background: url('images/toggle-ltr.png') no-repeat left center;
}

.mwe-upwiz-toggler-open {
	/* @embed */
	background: url('images/toggle-open.png') no-repeat left center;
}

.mwe-upwiz-toggler-content {
	padding-left: 1.5em;
}

.mwe-upwiz-toggled {
	margin-top: 0.5em;
}

.mwe-upwiz-thanks {
	margin-bottom: 2em;
}

#mwe-upwiz-reqd-field-explain-container {
	float: right;
        margin-right: 20px;
}

#mwe-upwiz-reqd-field-explain-container:after {
	clear: both;
}

.mwe-upwiz-required-marker {
	color: #ff0000;
}

.mwe-readonly {
	background-color: #ffffff;
	padding: 0.25em;
}

.mwe-date {
	width: 20em;
	/* @embed */
	background: #ffffff url('images/calendar.gif') no-repeat right center;
}
input.mwe-date {
	direction: ltr;
}

.ui-datepicker-current-day a.ui-state-active {
	background: #ffff99;
}

.mwe-upwiz-hint {
    /* @embed */
    background: url('images/question.png') no-repeat;
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-left: 4px;
}
.mwe-upwiz-hint:hover {
    /* @embed */
    background: url('images/question-hover.png') no-repeat;
}

/* Hack for Explorer 6 and 7 - line up buttons with other content */
.mwe-upwiz-buttons .ui-button, .cat-widget .ui-button {
	*vertical-align: middle;
}

#upload-wizard .ui-corner-tl {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}

#upload-wizard .ui-corner-tr {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

#upload-wizard .ui-corner-bl {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#upload-wizard .ui-corner-br {
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#upload-wizard .ui-corner-top {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

#upload-wizard .ui-corner-bottom {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#upload-wizard .ui-corner-left {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#upload-wizard .ui-corner-right {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#upload-wizard .ui-corner-all {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.mwe-upwiz-deed-license-group-subhead {
	color: #797979;
	margin-top: 0;
	margin-bottom: 0;
}

.ui-dialog .mwe-upwiz-lightbox {
	padding: 0;
}

.mwe-upwiz-details-texts {
	padding: 0.5em;
}

.mwe-location-heading,
.mwe-location-alt,
.mwe-location-lon,
.mwe-location-lat {
	float: left;
	font-style: italic;
}

/* Refer ---> http://stackoverflow.com/questions/17047694/add-line-break-to-before-or-after-pseudo-element-content */
.mwe-loc-link:before {
	content:'\a';
	white-space:pre;
}

.mwe-upwiz-category-will-be-added {
	font-style:italic;
	color:gray;
	padding-left:0.5em;
}

.mwe-upwiz-lightbox-link a {
	cursor: pointer;
}

.mwe-upwiz-other-textarea {
	width: 31.5em;
}
