@import 'mediawiki.skin.variables.less';

#upload-wizard {
	margin-top: 18px;
	max-width: @size-5600;
}

.client-js .mwe-upwiz-unavailable {
	display: none;
}

.client-nojs #upload-wizard {
	display: none;
}

.mwe-first-spinner {
	height: 200px;
	line-height: 200px;
	text-align: center;
}
