.mwe-upwiz-fieldLayout {
	.mwe-upwiz-fieldLayout-indicator {
		font-size: 13px;
		float: right;
		font-style: italic;
		color: #72777d;
	}

	.mwe-upwiz-details-help {
		padding-bottom: 0.5em;
		font-size: 13px;
	}
}
