@import 'mediawiki.skin.variables.less';

.mwe-upwiz-deed-option-title {
	margin-top: 1.5em;
}

.mwe-upwiz-deed-forms .mwe-upwiz-deed-ownwork,
.mwe-upwiz-deed-forms .mwe-upwiz-deed-thirdparty {
	margin-top: 1.5em;
	margin-left: 1.5em;
	border-top: 1px solid #a3a8b1;
	padding-top: 1.5em;
}

@media screen and ( max-width: @min-width-breakpoint-tablet ) {
	.mwe-upwiz-deed-forms .mwe-upwiz-deed-ownwork,
	.mwe-upwiz-deed-forms .mwe-upwiz-deed-thirdparty {
		margin-left: 0;
	}
}

// additional help text for radio button labels & titles
.mwe-upwiz-label-extra {
	display: block;
	color: #73777d;
}

// don't show additional license explainer text for third party license selection
.mwe-upwiz-deed-forms .mwe-upwiz-deed-thirdparty .mwe-upwiz-deed-license-group .mwe-upwiz-label-explainer {
	display: none;
}

.mwe-upwiz-deed-form-internal {
	.oo-ui-fieldLayout-body {
		max-width: none;
	}

	.oo-ui-fieldLayout.oo-ui-labelElement.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header {
		max-width: none;
	}

	.mwe-upwiz-label-title {
		font-size: 16px;
		margin-top: 1em;

		a {
			color: #000;
			text-decoration: underline;
		}
	}

	.mwe-upwiz-label-title,
	label {
		font-weight: normal;
		padding-top: 0;
	}

	label {
		margin-top: 0.3em;
	}

	.mwe-upwiz-details-fieldname-input {
		margin-bottom: 2em;
	}

	.mwe-upwiz-details-fieldname-input .mwe-upwiz-details-fieldname-input {
		margin-bottom: 0;
	}

	ol {
		margin-left: 1.5em;
	}

	.mwe-upwiz-thirdparty-checkbox {
		margin-top: 0.5em;

		.mwe-upwiz-details-fieldname {
			font-size: 14px;
		}
	}

	.mwe-upwiz-thirdparty-license {
		.oo-ui-fieldLayout-body {
			.oo-ui-fieldLayout-header {
				padding-bottom: 0;
			}
		}
	}

	.mwe-upwiz-details-help {
		color: #72777d;
		font-size: 16px;
	}

	// override default OOUI warning message style
	.oo-ui-fieldLayout-messages,
	.oo-ui-fieldLayout-messages > .oo-ui-messageWidget:first-child {
		margin: 0;
	}
}

.mwe-upwiz-deed-license-group-body {
	label:not( :first-of-type ) {
		margin-top: 1em;
	}

	.mwe-upwiz-copyright-info > a {
		font-size: 12px;
	}
}

.mwe-upwiz-deed-subgroup {
	margin: 1em 0;
	padding: 1em 2em;
	background-color: #f1f2f3;
	border-radius: 3px;

	.mwe-upwiz-deed-title {
		margin-bottom: 1em;
		font-weight: bold;
		color: #55595d;
	}
}

@media screen and ( max-width: @min-width-breakpoint-tablet ) {
	.mwe-upwiz-deed-subgroup {
		padding: 1em 1em;
	}
}

.mwe-upwiz-deed-license-group-container {
	margin-top: 1em;

	.mwe-upwiz-deed-license-group-head {
		display: block;
		margin-bottom: 0.5em;
	}

	// customizations for default "custom input" license groups
	.mwe-upwiz-deed-license-group-mwe-upwiz-license-other-head + .mwe-upwiz-deed-license-group {
		// get rid of default grey background
		background-color: inherit;
		margin-top: 0;
		padding-top: 0;

		// hide the radio button or checkbox
		.oo-ui-radioInputWidget,
		.oo-ui-checkboxInputWidget {
			display: none;
		}

		// get rid of unnecessary padding between (now hidden) radio button and rest of the contents
		.oo-ui-labelElement-label,
		.mwe-upwiz-copyright-info {
			padding-left: 0;
		}
	}

	.mwe-upwiz-license-custom {
		// side by side input field & button
		display: flex;
		max-width: 48em;
		margin-bottom: 0.5em;

		.oo-ui-inputWidget-input {
			font-family: monospace;
		}
	}

	label:has( .mwe-upwiz-license-custom ),
	.oo-ui-radioOptionWidget.oo-ui-labelElement > .oo-ui-labelElement-label:has( .mwe-upwiz-license-custom ) {
		display: block;
	}

	fieldset.mwe-upwiz-deed-subgroup:has( .mwe-upwiz-license-custom ) {
		padding-right: 0;
	}
}

.mwe-upwiz-deed-origin,
.mwe-upwiz-deed-purpose {
	label:not( :first-of-type ),
	.mwe-upwiz-deed-warning {
		margin-top: 1em;
	}
}

.mwe-upwiz-deed-origin .oo-ui-textInputWidget {
	max-width: 100%;
}

/*
 * license selection is rather generic to allow customization for campaigns, which makes
 * it rather hard to add a specific "warning" class to the "no license known" license group,
 * so we will target that one directly and mimic OO.ui.MessageWidget( { type: 'warning' } )
 */
.mwe-upwiz-deed-license-group-container .mwe-upwiz-deed-license-group-mwe-upwiz-license-no-head + .mwe-upwiz-deed-license-group {
	// show warning style instead of default grey background
	background: ~'#fef6e7 url( ../../images/64px-OOjs_UI_icon_alert_image_warning.svg.png ) no-repeat 24px 16px / 20px';
	padding: 16px 24px 16px 56px;
	border: 1px solid #ac6600;

	// get rid of bold text & margin from the default license selection styles
	.mwe-upwiz-deed-license-group-subhead {
		font-weight: inherit;
		color: #202122;
		margin-bottom: 0;
	}

	// hide the default-always-on radio for license selection
	.mwe-upwiz-deed-license-group-body {
		display: none;
	}
}

.mwe-upwiz-deed-warning,
/*
 * also apply custom warning message styles to warning in license selection
 */
.mwe-upwiz-deed-license-group-container .mwe-upwiz-deed-license-group-mwe-upwiz-license-no-head + .mwe-upwiz-deed-license-group {
	p {
		/*
		 * multi-paragraph messages will be wrapped in <p>, which add an unwanted
		 * margin above & below; let's get rid of those in here
		 */
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
