.mwe-upwiz-deed-option-title {
	margin-top: 1.5em;
}

.mwe-upwiz-deed-forms .mwe-upwiz-deed-ownwork,
.mwe-upwiz-deed-forms .mwe-upwiz-deed-thirdparty {
	margin-top: 1.5em;
	border-top: 1px solid #a3a8b1;
	padding-top: 1.5em;
}

// help text for "own work/someone else's work" radio button labels
.mwe-upwiz-deed-header .oo-ui-labelElement-label span {
	display: block;
	color: #73777d;
}
