h3.mwe-upwiz-metadata-title {
	float: left;
	font-size: 1.4em;
	margin: 0 0 2em 0;
	padding-top: 0;
}

.mwe-upwiz-metadata-help {
	float: left;
	z-index: 1;
}

.mwe-upwiz-metadata-booklet.oo-ui-bookletLayout {
	> .oo-ui-menuLayout-menu {
		border-right: 0;
	}

	// the booklet's content panels become .oo-ui-panelLayout-scrollable,
	// which set an `overflow: auto;` - we want to make sure overflow remains
	// visible, though, so that the shadow around images doesn't get cut off
	> .oo-ui-menuLayout-content .oo-ui-panelLayout-scrollable {
		overflow: visible;
	}
}
