

/* min-width is about 550px, maybe about 52em
/* max-width is about 875px  about 87em?
#upload-wizard {

}
*/


form.mwe-upwiz-form {
	display: inline;
}

#upload-wizard {
	margin-top: 18px;
}

/*
.upload-section {
	padding: 1em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	border: 1px solid #e0e0e0;
}
*/


.mwe-upwiz-clearing {
	clear: left;
	width: 100%;
}


#mwe-upwiz-content {
	padding: 1em;
}

.mwe-upwiz-add-files-0, #mwe-upwiz-files {
	margin-top: 3em;
	margin-bottom: 3em;
}

.mwe-upwiz-add-files-0 {
	text-align: center;
	font-size: large;
}

#mwe-upwiz-add-file {
}

/* NOT a pseudoclass */
#mwe-upwiz-add-file.hover {
	text-decoration: underline;
}

/* perhaps a general class for links that are actually "buttons" */
#mwe-upwiz-add-file, .mwe-upwiz-remove-ctrl, .mwe-upwiz-more-options {
	outline: none;
	cursor: pointer;
}

/* CSS styling hack for file inputs - http://www.quirksmode.org/dom/inputfile.html */
.mwe-upwiz-file-ctrl-container {
	position: absolute;
	overflow: hidden;
}

.mwe-upwiz-file-input, .mwe-upwiz-visible-file {
	cursor: pointer;
}

/* file inputs are freakishly large to overflow the containing div -- we get a div 
   that can act as a more styleable single-click file input */
.mwe-upwiz-file-input, .disabler {
	font-size: 100px;
	-moz-opacity: 0.3; 
	filter:alpha(opacity: 0);
	opacity: 0; 
	z-index: 2; 
}

.mwe-upwiz-file.filled {
	position: relative;
}

.mwe-upwiz-file.odd .mwe-upwiz-visible-file {
	background: #f5f5f5;
}



.mwe-upwiz-remove-ctrl {
}

/* XXX this is highly specific to our installation 
.mwe-upwiz-remove-ctrl.hover { 
.ui-icon { background-image: url(/w/extensions/UsabilityInitiative/css/vector/images/ui-icons_cd0a0a_256x240.png) }
}
*/

.mwe-upwiz-visible-file .mwe-upwiz-remove-ctrl {
	float: right;
	visibility: hidden;
	margin: 0.25em;
	padding: 0.25em;
}

.mwe-upwiz-file-indicator, .mwe-upwiz-count {
	float: right;
	margin-left: 0.5em;
	padding: 0.5em 0.5em 0.5em 20px;  /* 20px for the icon */
}

.mwe-upwiz-visible-file .mwe-upwiz-file-indicator {
	visibility: hidden;
}

.mwe-upwiz-visible-file {
	display: none;
}

.mwe-upwiz-file.filled .mwe-upwiz-visible-file {
	display: block;
}

.mwe-upwiz-visible-file-filename {
	padding: 0.5em;
	margin-right: 40px;
	overflow: hidden;
}

.mwe-upwiz-progress-bar-etr-container {
	/* needed ? */
}
	

.mwe-upwiz-add-files-n {
	float: left;
	margin-top: 5px;
	margin-left: 4px;
}

#mwe-upwiz-add-file-container.mwe-upwiz-add-files-n, .mwe-upwiz-progress-bar-etr {
	width: 300px;
	padding-left: 5px;
}


#mwe-upwiz-add-file-container.mwe-upwiz-add-files-n {
	float: left;
}

.mwe-upwiz-visible-file {
	width: 100%; /* of containing mwe-upwiz-file */
	white-space: nowrap;
	overflow: hidden;
}

.mwe-upwiz-file.hover .mwe-upwiz-visible-file {
	background: #e0f0ff !important;
}

.mwe-upwiz-file.hover .mwe-upwiz-remove-ctrl {
	visibility: visible;
}

/* XXX we probably have a standard for this */
.helper {
	color: #cccccc; /* or whatever we do for greyed out text */
	font-variant: italic, oblique;
	text-align: center;
}


#mwe-upwiz-files {
	margin-right: 8em;
	margin-left: 8em;
}

.mwe-upwiz-file {
}

#mwe-upwiz-upload-ctrls {
	margin-top: 1em;
}

#mwe-upwiz-add-file-container {
	/* empty; this changes a lot */	
}

.mwe-upwiz-details-descriptions .mwe-upwiz-remove-ctrl {
	vertical-align: top;
	display: inline-block;
}

a[disabled=true] {
	color: #999999;
	text-decoration: none;
	cursor: default;
}

a[disabled=true]:hover {
	text-decoration: none;
}

.mwe-upwiz-status-progress {
	background: url(spinner-orange.gif) no-repeat left center;
	font-weight: bold;
	color: #ff9900;
}

.mwe-upwiz-status-completed {
	background: url(checkmark.gif) no-repeat left center;
	font-weight: bold;
	color: #009900;
}

.mwe-upwiz-progress {
	margin-top: 15px;
}

.mwe-upwiz-progress-bar-etr {
	float: left;
}

.mwe-upwiz-etr {
	text-align: center;
}


.mwe-upwiz-upload-warning {
	background: #ffffe0;
}

.mwe-upwiz-details-error {
	display: none;
	background: #ffffe0;
}

.mwe-upwiz-thumbnail, .mwe-upwiz-thumbnail-small {
	border: 1px solid #cccccc;
	text-align: center;
	background: #ffffff;
}

.mwe-upwiz-thumbnail {
	padding: 0.5em;
	width: 120px;
}

.mwe-upwiz-thumbnail-side {
	float: left;
	margin-bottom: 1em;
	margin-right: 1em;
}

.mwe-upwiz-thumbnail-small {
	padding: 0.25em;
	width: 60px;
}

#mwe-upwiz-deeds-thumbnails {
	text-align: center;
	margin: 1em 0;
	background: #f0f0f0;
}

#mwe-upwiz-deeds-thumbnails .mwe-upwiz-thumbnail-small {
	display: inline-block;
	margin: 1em;
	vertical-align: middle;
}

.mwe-upwiz-data {
	float: left;
}


/* XXX add spinner gif instead, maybe */
.busy {
	/* background: yellow; */
}

.mwe-upwiz-stepdiv {
	height: 0px;
	overflow: hidden;
}



/* XXX this has to be 'centered' beneath the 'x's -- this is about right for english but we need a more 
   robust layout strategy for i18n */
.proceed {
	text-align: right; 	
	width: 410px;
}

.shim {
	float:right;
	width: 1px;
}

.clearShim {
	clear: both;
	height: 1px;
	overflow: hidden;
}

.mwe-checkbox-hang-indent {
	float: left;
	width: 24px;
	margin-top: 6px;
}

.mwe-checkbox-hang-indent-text {
	margin-left: 24px;
}

.mwe-small-print {
	font-size: x-small;
}

.mwe-upwiz-deed {
	margin-left: 24px;
}

.mwe-upwiz-deed.selected .mwe-upwiz-deed-name {
	font-weight: bold;
}

.mwe-more-options, .mwe-upwiz-macro-deeds-return, .mwe-upwiz-deed-header-link {
	cursor: pointer;
}

.mwe-more-options {
	padding-bottom: 4px;
}

.mwe-upwiz-deed-license {
	margin-left: 24px;
}

#mwe-upwiz-macro-deeds {
	margin-top: 12px;
	margin-bottom: 24px;
}

#mwe-upwiz-macro-files {
	margin-top: 12px;
}
.mwe-upwiz-info-file {
	margin-bottom: 12px;
	padding-bottom: 12px;
	width: 660px;
}


.mwe-upwiz-details-input {
	width: 400px;
	float: left;
}

.mwe-upwiz-details-input.mwe-error {
	float: none;
	margin-left: 9em;
}

.mwe-upwiz-desc-lang-select {
	width: 130px;
	font-family: sans-serif;
	font-size: small;
}

.mwe-upwiz-desc-lang-container {
	float: left;
}

.mwe-upwiz-desc-lang-text {
	width: 240px;
	overflow: hidden;
	font-family: sans-serif; /* XXX is this right? */
	font-size: small;
}

.mwe-upwiz-details-descriptions-add {
	margin-bottom: 12px;
	margin-left: 100px;
}

.mwe-grow-textarea, .mwe-long-textarea {
	overflow: hidden;
	font-family: sans-serif; /* XXX is this right? */
	font-size: small;
}

.mwe-long-textarea {
	width: 370px;
}

fieldset .mwe-long-textarea {
	width: 280px;
}



.mwe-upwiz-details-label {
	width: 9em;
	padding-top:  0.5em;
	float: left;
}

.mwe-upwiz-details-label-input {
	margin-bottom: 1em;
}

.mwe-upwiz-details-filename. {
	overflow: hidden;
	width: 350px;
}

.mwe-upwiz-other-textarea {
	width: 468px;
} 

fieldset.mwe-fieldset {
	width: 450px;
	border: 1px solid #cccccc;
	padding-left: 12px;
	padding-right: 12px;
}

legend.mwe-legend {
	padding: 0.5em 0.5em 0.5em 0.33em;
	color: #666666;
}

.masked-hidden {
	visibility: hidden !important;
}

.mwe-upwiz-thirdparty-fields {
	margin-bottom: 5px;
}

.mwe-upwiz-thirdparty-fields label {
	width: 100px;
	display: inline-block;
	padding-bottom: 5px;
}

.mwe-upwiz-thirdparty-fields textarea {
	margin: 0px
}

.mwe-upwiz-thirdparty-license {
	margin-top: 8px;
}

.mwe-upwiz-deed-form-internal {
	padding: 5px 0px 20px 40px;
}


.mwe-upwiz-copyright-info label {
	display: inline-block;
	padding-left: 15px;
	text-indent: -15px;
	margin-right: 15px;
}

/* the hanging indent checkboxes */
.mwe-upwiz-copyright-info input.mwe-accept-deed {
	width: 13px;
	height: 13px;
	padding: 0;
	margin: 0px 3px 0px 0px;
	vertical-align: bottom;
	position: relative;
	top: -1px;
}


.mwe-upwiz-custom-deed {
	margin-top: 5px;
}

.mwe-upwiz-buttons {
	margin-top: 1em;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
	text-align: right;  /* works for now, only one 'next' button */
}

a.mwe-upwiz-tooltip-link {
	cursor: pointer;
}

.mwe-error {
	color: #ff0000;
}

.mwe-upwiz-deed-form-internal label.mwe-error {
	margin-left: 100px;
}

input[type='text'].mwe-error, textarea.mwe-error {
	color: black;
	border: 1px solid #ff0000;
}

.mwe-upwiz-toggler {
	margin-bottom: 0;
	padding: 4px 0 3px 18px;
	background: url('toggle.png') no-repeat left center;
}

.mwe-upwiz-toggler-open {
	background: url('toggle-open.png') no-repeat left center;
}

.mwe-upwiz-toggled {
	margin-top: 1em;
}

.mwe-upwiz-thanks {
	margin-bottom: 2em;
}
